<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | MealMaster</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/home.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/scripts/items.js"></script>
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home.css" type="text/css">

</head>
<body>

<header>
    <h1>MealMaster</h1>
</header>
<nav>
    <%- include('./navbar.ejs', {active: "Home"}); %>

</nav>


<div id="meals" class="item_section">
    <h2>Meals</h2>
    <a href="/meals">View all</a>
    <% for(var i=0; i<4; i++){%>
    <div class="img_wrap">
       <a href="/addMeal/<%=meals[i].id%>">
           <p>
            <img src="<%=meals[i].image%>" width="200" alt="<%=meals[i].name%>"
                 title="Add to my list">

           <%=meals[i].name%>
           </p>
       </a>
    </div>
    <%}%>
</div>


<div id="ingredients" class="item_section">
    <h2>Ingredients</h2>
    <a href="/ingredients">View all</a>

    <% for(var i=0; i<4; i++){%>
        <div class="img_wrap" >
            <a href="/addIngredient/<%=ingredients[i].id%>">
                <p>
                <img src="<%=ingredients[i].image%>" width="200" alt="<%=ingredients[i].name%>"
                 title="Add to my list">
                <%=ingredients[i].name%>
                </p>
            </a>
        </div>
    <%}%>

</div>

<aside id="shoppingList">
    <h2>Shopping list</h2>
    <a href="#" onclick="clearList()">Clear</a>
    <div id="group-meals">
        <label>Group by meal: </label>
        <input type="checkbox" id="groupMeals"/>
    </div>
    <ul>
        <% for (var i=0;i<basket.length; i++){
            if(typeof item !== 'undefined'){%>
            <li>
                <img class="remove" src="public/images/icons24/clear-button.png" width="24" height="24">
                <div class="shopping_list_item"><%=basket[i].ingredient.name%></div>
                <img class="expand" src="public/images/icons24/expand-button.png" width="24" height="24">
            </li>
         <%}
        };%>
    </ul>
    <a href="/list" id="go-shopping">Go shopping! </a>

</aside>
<footer>
    <%- include('./footer.ejs'); %>
</footer>

</body>
</html>