<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/items.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/scripts/searchIngredient.js"></script>
    <script type="text/javascript" src="public/scripts/filterIngredient.js"></script>
    <script type="text/javascript" src="public/scripts/items.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/plan">Plan</a>
        <a href="/ingredients" class="active">Ingredients</a>
        <a href="/meals">Meals</a>
        <a href="/basket">Basket</a>
        <a href="/profile">Profile</a>
    </div>
    <div class="filter">
        <form action="" method="GET">
            <input type="text" class="search" name="search" placeholder="Search ingredients">
            <button type="submit">Search</button>
        </form>
        <br>
        <div class="checkbox">
            <input type="checkbox" disabled="true" class="all" name="category" value="All" checked>All<br>
            <input type="checkbox" class="category" name="Vegetable" value="Vegetable"">Vegetable<br>
            <input type="checkbox" class="category" name="Meat" value="Meat"">Meat<br>
            <input type="checkbox" class="category" name="Seafood" value="Seafood">Seafood<br>
            <input type="checkbox" class="category" name="Cereal" value="Cereal">Cereal<br>
            <button class="reset">Reset</button>
        </div>
    </div>
    <div class="items">
        <% for(var i=0; i<12; i++){%>
        <div class="item">
                <p>
                    <img src="<%= ingredients[i].image%>" width="250" alt="<%= ingredients[i].name%>"><br>
                    <%= ingredients[i].name%>
                </p>
                <button type="button" id="<%=ingredients[i].id%>" onclick="addItemfromlist(<%= JSON.stringify(ingredients[i])%>)">
                    Add to basket
                </button>

        </div>
        <%}%>
    </div>
    <div class="pages">
        <a href='#' id="pre"  class="disable_a_href 0" onclick="getNextPage(<%= JSON.stringify(ingredients)%>,'previous')"> Previous</a>
        <a href='#' id="next" class="1" onclick="getNextPage(<%= JSON.stringify(ingredients)%>,'next')"> Next</a>
    </div>
    <div class="footer"></div>
</div>


</body>
</html>