<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/items.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/scripts/searchMeal.js"></script>
    <script type="text/javascript" src="public/scripts/filterMeal.js"></script>
    <script type="text/javascript" src="public/scripts/items.js"></script>

</head>

<body>

<div class="wrapper">
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/plan">Plan</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/meals" class="active">Meals</a>
        <a href="/basket">Basket</a>
        <a href="/profile">Profile</a>
    </div>
    <div class="filter">
        <form action="" method="GET">
            <input type="text" class="search" name="search" placeholder="Search meal">
            <button type="submit">Search</button>
        </form>
        <br>

        <div class="checkbox">
            <input type="checkbox" class="all" name="category" value="All" checked>All<br>
            <input type="checkbox" class="category" name="category" value="American">American<br>
            <input type="checkbox" class="category" name="category" value="Chinese">Chinese<br>
            <input type="checkbox" class="category" name="category" value="French">French<br>
            <input type="checkbox" class="category" name="category" value="German">German<br>
            <input type="checkbox" class="category" name="category" value="Korean">Korean<br>
            <input type="checkbox" class="category" name="category" value="Japanese">Japanese<br>
            <input type="checkbox" class="category" name="category" value="Thai">Thai<br>
        </div>

    </div>
    <div class="items">
        <% for(var i=0; i<meals.length; i++){%>
        <div class="item">
            <p>
            <img src="<%= meals[i].image%>" width="250" alt="<%= meals[i].name%>"><br>
                 <%= meals[i].name%>
            </p>
            <button type="button" id="<%=meals[i].id%>" onclick="addItemfromlist(<%= JSON.stringify(meals[i])%>)">
                Add to basket
            </button>
        </div>
        <%}%>
    </div>
    <div class="footer"></div>
</div>


</body>
</html>